<%- include('partials/header') %>
<%- include('partials/navigation') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-hat-wizard fa-3x"></i>
    <h1 class="display-5"><%=groupItem.name%></h1>
    <h3 class="display-5"><%=groupItem.description%></h3>
  </div>
</div>

<div class="grouplink">
  <div class='child inline-block-child'>
    <p>Group Link:</p>
  </div>
  <div class='child inline-block-child'>
    <p class='child inline-block-child'id="p1">localhost:3000/<%=userId%>/<%=groupItem._id%>/join-group</p>
    <a class='btn child inline-block-child' onclick="copyToClipboard('#p1')">
      <i class="fa fa-clone"></i>
    </a>
  </div>
</div>

<div class="membertable">
  <% const numMembers = groupItem.members.length %>
  <% var index = 0 %>
  <table class="table" style="border-collapse: collapse; border: none;>
    <thead>
      <tr style="border: none;">
        <th scope="col" style="border: none;">#</th>
        <th scope="col" style="border: none;">Name</th>
        <th scope="col" style="border: none;">Email</th>
        <th scope="col" style="border: none;">Remove</th>
      </tr>
    </thead>
    <tbody>
      <% groupItem.members.forEach(function(item) { %>
        <tr style="border: none;">
          <th scope="row" style="border: none;"><%=index + 1%></th>
          <td style="border: none;"><%=item.name%></td>
          <td style="border: none;"><%=item.email%></td>
          <td>
            <form action="/deleteMember" method="post">
              <button type="submit" name="deleteButton" class="btn">
                <i class="fa fa-trash"></i>
              </button>
              <input type="hidden" name="userId" value="<%=userId%>">
              <input type="hidden" name="groupId" value="<%=groupItem._id%>">
              <input type="hidden" name="memberId" value="<%=item._id%>">
            </form>
          </td>
        </tr>
        <% index = index + 1%>
      <%  }) %>
    </tbody>
  </table>
</div>

<script>
function copyToClipboard(element) {
  var $temp = $("<input>");
  $("body").append($temp);
  $temp.val($(element).text()).select();
  document.execCommand("copy");
  $temp.remove();
}
</script>


<div class="center-div">
  <a href="/<%=userId%>/<%=groupItem._id%>/options">
    <button name="deleteButton" class="btn">
      Next <i class="fa fa-check"></i>
    </button>
  </a>
</div>

<%- include('partials/footer') %>
